    #receipt{
        padding:1mm;
        margin: 0 auto;
        width: 79mm;
        background: #25e25e;
        color: #000;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    }
    #bord{
        border: 2px solid #000 !important
    }
    table{ 
        padding:1mm;
        margin: 0 auto;
        width: 98%;
        background: #25e25e;
        border-collapse: collapse;
    }
    td,th{
        font-size: 13px;
        border: 1px solid #000 !important
    }
    th{
        font-size: 13px;
        padding: 2px;
        margin: 2px;
    }
    .text-center {
        text-align:center!important
    }
    .text-left {
        text-align:left!important
    }
    .text-right {
        text-align:right!important
    }
    .pull-left {
        float:left!important
    }
    .pull-right {
        float:right!important
    }
    h1.title{
        font-size: 24px;
        margin-bottom: 0px; 
    }
    p{
  font-size: 13px;
}
span{
  font-size: 13px; 
}
.watermark {
    position:fixed; 
    color: #000;
    opacity: 0.15;
    font-size: 120px;
    width: 100%;
    top: 10%;  /**/  
    text-align: center;
    z-index: 0;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
  }
@media print {
    p.break {
      page-break-after: always;
    }
    body{
      margin: 2mm;
    }
#receipt{ 
  padding:1mm;
  margin: 0 auto;
  width: 97%;
  background: #25e25e;
  #border{
  border: 2px solid #000 !important
 }
}
#bord{
    border: 2px solid #000 !important
 }
 table{ 
  padding:1mm;
  margin: 0 auto;
  width: 97%;
  background: #25e25e;
   border-collapse: collapse;
}
td,th{
  font-size: 13px;
  border: 1.5px solid #000 !important
}
th{
  font-size: 13px;
  padding: 2px;
  margin: 2px;
}
 
span{
  font-size: 13px;
  padding: 5px;
}
.watermark {
    position:fixed; 
    color: #000;
    opacity: 0.15;
    font-size: 120px;
    width: 100%;
    top: 10%;  /**/  
    text-align: center;
    z-index: 0;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
  }
}